.link {
  text-decoration: none;
  color: black;
}

.clear {
  clear: both;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

input::placeholder {
  font-size: 13px;
  opacity: 0.6;
}

header {
  background: #f5f3f2;
  box-shadow: 3px 3px 3px #f5f3f2;
}

.heading {
  text-align: center;
  font-family: 'Cochin';
}

.header_nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}

.header_nav li {
  list-style: none;
  margin-left: 50px;
}

main {
  color: #003740;
}

.swiper-slide {
  position: relative;
}

.sale_link {
  position: absolute;
  background: #d1ae15;
  color: #f5f3f2;
  text-align: center;
  opacity: 0.8;
  bottom: 5%;
  right: 5%;
  width: 170px;
  padding: 10px;
}

.sale_link:hover {
  opacity: 1;
}

.top_img {
  width: 100%;
  height: 500px;
}

.main_contents {
  padding: 30px 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}

.items li {
  list-style: none;
  width: 25%;
  margin-top: 20px;
}

.items li:nth-child(-n+4) {
  margin-top: 0;
}

.items li p {
  margin: 10px 0 0 0;
}

.items a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.products_img {
  width: 90%;
  height: 200px;
}

.news {
  border: 1px solid #003740;
  box-shadow: 5px 5px 5px #f5f3f2;
  border-radius: 5px;
  padding: 20px;
}

.news li {
  text-align: center;
  list-style: none;
  margin-top: 20px;
}

.news span {
  margin-right: 20px;
}

footer {
  background: #000000;
  color: #f5f3f2;
  padding: 30px 0 20px 0;
}

.footer_icon {
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.footer_icon li {
  list-style: none;
  width: 20%;
}

/* index */

.divide {
  display: flex;
  padding-top: 40px;
}

.divide_left {
  width: 50%;
}

.divide_left img {
  height: 400px;
}

.divide_right {
  width: 50%;
}

.scroll_items {
  display: flex;
}

.scroll_items li {
  list-style: none;
}

.btn,
a.btn,
button.btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.btn-border-gradient-wrap {
  display: inline-block;
  margin-left: 40px;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.btn-border-gradient-wrap--gold {
  background-image: -webkit-linear-gradient(
    315deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
  background-image: linear-gradient(
    135deg,
    #704308 0%,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #704308 100%
  );
}

.btn-border-gradient-wrap--gold:hover a.btn .button {
  text-shadow: 0 0 15px rgba(250, 250, 214, 0.5),
    0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px rgba(250, 250, 214, 0.5),
    0 0 15px rgba(250, 250, 214, 0.5);
}

a.btn-border-gradient {
  font-size: 30px;
  background: #000;
}

.btn-text-gradient--gold {
  font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
    "Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ffffdb),
    to(#a16422)
  );

  background: -webkit-linear-gradient(bottom, #ffffdb, #a16422);

  background: linear-gradient(to top, #ffffdb, #a16422);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.button {
  border: none;
}

.option {
  padding: 20px 0;
}

.label {
  margin-left: 10px;
}

/* productShow */

.sub_txt {
  color: #c0c0c0;
}

/* infoShow */