.link {
  text-decoration: none;
  color: black;
}

.clear {
  clear: both;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

input::placeholder {
  font-size: 13px;
  opacity: 0.6;
}

header {
  background: #f5f3f2;
}

.heading {
  text-align: center;
}

.header_nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}

.header_nav li {
  list-style: none;
  margin-left: 50px;
}

main {
  color: #003740;
}

.swiper-slide {
  position: relative;
}

.sall_link {
  position: absolute;
  background: #d1ae15;
  color: #f5f3f2;
  text-align: center;
  opacity: 0.8;
  bottom: 5%;
  right: 5%;
  width: 170px;
  padding: 10px;
}

.sall_link:hover {
  opacity: 1;
}

.top_img {
  width: 100%;
  height: 500px;
}

.main_contents {
  padding: 30px 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}

.items li {
  list-style: none;
  width: 25%;
  margin-top: 20px;
}

.items li:nth-child(-n+4) {
  margin-top: 0;
}

.items li p {
  margin: 10px 0 0 0;
}

.items a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.products_img {
  width: 90%;
  height: 200px;
}

.news {
  border: 1px solid #003740;
  box-shadow: 5px 5px 5px #f5f3f2;
  border-radius: 5px;
  padding: 20px;
}

.news li {
  text-align: center;
  list-style: none;
  margin-top: 20px;
}

.news span {
  margin-right: 20px;
}

footer {
  background: #e7be99;
  color: #f5f3f2;
  padding: 30px;
}

.footer_icon {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer_icon li {
  list-style: none;
  width: 20%;
}