.link {
  text-decoration: none;
  color: black;
}

.clear {
  clear: both;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

input::placeholder {
  font-size: 13px;
  opacity: 0.6;
}

.heading {
  text-align: center;
}

.header_nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}

.header_nav li {
  list-style: none;
  margin-left: 50px;
}

.main_visual {
  background-image: url('/img/main1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
}

.main_contents {
  padding: 30px 0;
}

.items {
  display: flex;
  padding: 30px 0;
}

.items li {
  list-style: none;
  width: 100%;
}

.items li p {
  margin: 10px 0 0 0;
}

.products_img {
  width: 85%;
}

.products_img:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.news li {
  text-align: center;
  list-style: none;
  margin-top: 20px;
}

footer {
  height: 200px;
}